<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="./../styles/base.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>    <title>Negros Museum</title>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans' rel='stylesheet'>

</head>
  <body>
    <!-- navbar here -->
    <nav>
        <div class="logo-container">
            <a href="index.html">
                <img src="./../assets/images/logo.png" alt="">
            </a>
        </div>
        <div class="items-container">
            <div class="item">ABOUT</div>
            <div class="item">COLLLECTIONS & EXHIBITS</div>
            <div class="item">STORE</div>
            <div class="item">CONTACT US</div>
        </div>
    </nav>

    <!-- Hero Header -->
    <div class="hero-header">
        <div class="hero-text">
            <h1>
                If you want to know about Filipino history 
                and culture of Negros Occidental, 
                you give this museum one hour of your time.
            </h1>
            <div class="border"></div>
            <p>
                Thor Kristinsson (Reykjavik, Iceland)
            </p>
        </div>
        <div class="hero-button">
            <a href="home.html">
                <button>
                    PLAN YOUR VISIT
                </button>
            </a>
        </div>
    </div>
  </body>
</html>