<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="./../styles/base.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>    <title>Negros Museum</title>
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Sans' rel='stylesheet'>

</head>
  <body>
    <!-- navbar here -->
    <nav>
        <div class="logo-container ">
            <a href="index.html">
                <img src="./../assets/images/logo.png" alt="">
            </a>
        </div>
        <div class="items-container black">
            <div class="item">ABOUT</div>
            <div class="item">COLLLECTIONS & EXHIBITS</div>
            <div class="item">STORE</div>
            <div class="item">CONTACT US</div>
        </div>
    </nav>

    <!-- Store Header -->
    <div class="store-header">
        <div class="text-header">
            <h1>STORE</h1>
        </div>
        <div class="image-holder">
            <img src="./../assets/images/bottlesPainted.png" alt="">
        </div>
        <div class="image-description">
            <h3>
                Hand-Painted Wine Bottles
            </h3>
            <p>
                A limited-edition collection of hand-painted wine 
                bottles made by Jenelyn Rubito, a young Negrense 
                visual artist from Silay City.
            </p>
            <button>
                SHOP THE COLLECTION
            </button>
        </div>
    </div>
    
    <!-- departments -->
    <div class="departments">
        <div class="department-title">
            <h1>Shop by 
                <br>
                Department
            </h1>
            <p>
                Among the various collections for sale by 
                The Negros Museum, they can be distinguished 
                by their characteristics and mediums utilized 
                in their production.
            </p>
        </div>
        <div class="image-container">
            <img src="./../assets/images/teaBag.png" alt="">
        </div>
        <div class="image-container">
            <img src="./../assets/images/fbfArts.png" alt="">
        </div>
        <div class="image-container">
            <img src="./../assets/images/handPaintedBottles.png" alt="">
        </div>
        <div class="image-container">
            <img src="./../assets/images/mixedmed.png" alt="">
        </div>
        <div class="image-container">
            <img src="./../assets/images/allProds.png" alt="">
        </div>
    </div>

    <!-- collections -->
    <div class="collections">
        <h1>
            Collections
        </h1>
        <p>
            Various collections of Creative Negrense Artists 
            that are exhibited and supported by the Negros
            Museum.
        </p>
    </div>

    <!-- featured collections -->
    <div class="featured-collections">
        <div class="featured-header">
            <h3>
                <i>
                    Featured Collection
                </i>
            </h3>
            <h1>Hand-Painted Wine Bottles</h1>
        </div>
        <div class="product-sample">
            <div class="prod-img-container">
                <img src="./../assets/images/daisy.png" alt="">
            </div>
            <div class="prod-description">
                <h1>Gebrera Daisy</h1>
                <label>by Jenelyn Rubito</label>
                <h4>
                    Description
                </h4>
                <p>
                    A limited-edition collection of hand-painted 
                    wine bottles made by Jenelyn Rubito, a young 
                    Negrense visual artist from Silay City. This 
                    set of unique wine bottles can be utilized in 
                    so many ways such as a vase, candle holder, or 
                    can be a decorative element in your respective 
                    households.
                    <br><br>
                    Proceeds will benefit the Artist, Balay Negrense,
                    and The Negros Museum. 
                </p>
                <h2>
                    Php 200.00
                </h2>
                <button>
                    ADD TO CART
                </button>
                <button class="wish">
                    ADD TO WISHLIST
                </button>
            </div>
        </div>
    </div>

    <!-- sample products -->
    <div class="samples">
        <div class="row-one">
            <div class="text">
                <h1>
                    Details
                </h1>
                <div class="item">
                    <h3>Availability</h3>
                    <p>In stock</p>
                </div>
                <div class="item">
                    <h3>Year</h3>
                    <p>2020</p>
                </div>
                <div class="item">
                    <h3>Medium</h3>
                    <p>Acrylic Paint on Wine Bottle</p>
                </div>
                <div class="item">
                    <h3>Dimensions</h3>
                    <p>13” in length &  3 3/8” in diameter</p>
                </div>
            </div>
            <div class="img-cont">
                <img class="firstimg" src="./../assets/images/yelloRed.png" alt="">
                <img src="./../assets/images/green.png" alt="">
            </div>
            
        </div>
        <div class="other-rows">
            <img src="./../assets/images/whiteFlowers.png" alt="">
            <img src="./../assets/images/yellowFlower.png" alt="">
            <img src="./../assets/images/colorful.png" alt="">
            <img src="./../assets/images/weird.png" alt="">
        </div>
        <div class="other-rows">
            <img src="./../assets/images/whiteSup.png" alt="">
            <img src="./../assets/images/bigred.png" alt="">
            <img src="./../assets/images/bbc.png" alt="">
            <img src="./../assets/images/chinese.png" alt="">
        </div>
    </div>

    <div class="gilders-sect">
        h1
    </div>
  </body>
</html>