* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Playfair Display";
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 5vw;
  max-height: 15vh;
  z-index: 10;
  color: #fff;
}

nav.black {
  -webkit-transition: 0.75s ease;
  transition: 0.75s ease;
  background-color: #fff;
  color: black;
}

nav .items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "IBM Plex Sans" !important;
}

nav .items-container .item {
  font-size: 12px;
  padding: 0 2em;
}

nav .items-container .item a {
  -webkit-text-emphasis: none;
          text-emphasis: none;
  text-decoration: none;
}

nav .items-container .item .routerLink {
  background: transparent;
  border: none;
  display: block;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  padding: 2em 0;
  text-align: center;
  text-decoration: none;
}

nav .items-container .item .routerLink::before {
  content: "";
  display: block;
  position: relative;
  border-top: 3px solid transparent;
  padding-top: 10px;
  width: 0;
  left: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

nav .items-container .item .routerLink:hover::before {
  display: block;
  border-top: 3px solid white;
  width: 100%;
}

nav .items-container .item .routerLink.focus {
  outline: none;
}

nav .items-container .item .routerLink.black {
  color: black;
}

nav .items-container .item .routerLink.black::before {
  content: "";
  display: block;
  position: relative;
  border-top: 3px solid transparent;
  padding-top: 10px;
  width: 0;
  left: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

nav .items-container .item .routerLink.black:hover::before {
  display: block;
  border-top: 3px solid black;
  width: 100%;
}

.hero-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5vw;
  min-height: 100vh;
  background-image: radial-gradient(50% 50% at 43.02% 43.5%, rgba(11, 16, 41, 0) 0.52%, rgba(34, 44, 52, 0.6) 100%), url("./../assets/images/landingBg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 560px) {
  .hero-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero-header .hero-text {
  max-width: 28em;
  padding-left: 5em;
  padding-top: 5em;
  background-image: url("./../assets/svg/singleQuote.svg");
  background-repeat: no-repeat;
  background-position: 18% 0;
  color: #fff;
}

@media (max-width: 560px) {
  .hero-header .hero-text {
    margin-top: 80%;
    margin-bottom: 3em;
    padding: 0;
    background-image: none;
  }
}

.hero-header .hero-text h1 {
  font-size: 2.5em;
  font-weight: lighter;
  padding-bottom: 0.5em;
}

@media (max-width: 560px) {
  .hero-header .hero-text h1 {
    font-size: 1.5em;
  }
}

.hero-header .hero-text .border {
  width: 10%;
  border: 1px solid black;
  margin-bottom: 1em;
}

.hero-header .hero-text p {
  font-family: "IBM Plex Sans";
  max-width: 20em;
  font-weight: lighter;
  font-size: 0.9em;
}

.hero-header .hero-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero-header .hero-button button {
  padding: 1em 2em;
  font-size: 1.3em;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 2em;
  cursor: pointer;
  letter-spacing: 0.15em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, black), color-stop(50%, white));
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.hero-header .hero-button button:hover {
  background-position: left bottom;
  color: #fff;
}

@media (max-width: 560px) {
  .hero-header .hero-button button {
    font-size: 1em;
  }
}

.home-header {
  min-height: 100vh;
}

.home-header .carousel {
  height: 100vh;
  position: relative;
  margin: 0 auto;
}

.home-header .carousel .carousel-track-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.home-header .carousel .carousel-track-container .carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.home-header .carousel .carousel-track-container .carousel-track .carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.home-header .carousel .carousel-track-container .carousel-track .carousel-slide .slide-text {
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
  color: #fff;
  padding: 0 5vw;
}

.home-header .carousel .carousel-track-container .carousel-track .carousel-slide .slide-text p {
  font-family: "IBM Plex Sans";
  letter-spacing: 0.3em;
  font-size: 1.5em;
  font-weight: 600;
  padding-bottom: 1em;
}

.home-header .carousel .carousel-track-container .carousel-track .carousel-slide .slide-text h1 {
  font-family: "Playfair Display";
  font-size: 3em;
}

.home-header .carousel .carousel-track-container .carousel-track .carousel-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-header .carousel .carousel-button {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home-header .carousel .carousel-button.carousel-left {
  left: -40px;
}

.home-header .carousel .carousel-button.carousel-right {
  right: -40px;
}

.home-header .carousel .carousel-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  background: transparent;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.home-header .carousel .carousel-nav .carousel-indicator {
  border: none;
  outline: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 5px;
  cursor: pointer;
}

.home-header .carousel .carousel-nav .carousel-indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}

.home-text {
  padding: 5em;
}

@media (max-width: 560px) {
  .home-text {
    padding: 5em 1em;
  }
}

.home-text p {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 203%;
  padding: 1em 0;
}

.programs-section {
  padding: 8em 5vw;
  color: #fff;
  background-color: #0b1029;
}

.programs-section .header-desc {
  margin-bottom: 2em;
  font-family: "IBM Plex Sans";
  letter-spacing: 0.17em;
  font-size: 1.5em;
}

.programs-section .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.programs-section .items .program-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.programs-section .items .program-item img {
  max-height: 310px;
}

@media (max-width: 560px) {
  .programs-section .items .program-item {
    padding: 2em 0;
  }
}

.programs-section .items .program-item .program-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.programs-section .items .program-item .program-item-text h1 {
  max-width: 70%;
  font-size: 1.3em;
  padding: 1em 0;
  letter-spacing: 0.17em;
  font-family: "IBM Plex Sans";
}

.programs-section .items .program-item .program-item-text p {
  max-width: 70%;
  font-family: "IBM Plex Sans";
  line-height: 147.5%;
}

.projects-section {
  padding: 5em 5vw;
}

.projects-section .header-desc {
  margin-bottom: 1.5em;
  font-size: 1.5em;
  font-family: "IBM Plex Sans";
  letter-spacing: 0.17em;
  color: #8d0205;
}

.projects-section .project-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
}

.projects-section .project-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5em;
}

@media (max-width: 560px) {
  .projects-section .project-items .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 90vw;
  }
}

.projects-section .project-items .item .item-header {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 5em;
  text-align: center;
  color: #8d0205;
}

@media (max-width: 560px) {
  .projects-section .project-items .item .item-header {
    padding: 0 1em;
  }
}

.projects-section .project-items .item .item-header h1 {
  font-size: 3em;
  letter-spacing: 0.17em;
}

@media (max-width: 560px) {
  .projects-section .project-items .item .item-header h1 {
    font-size: 1.5em;
  }
}

.projects-section .project-items .item .item-header hr {
  margin: 1em 4em;
  color: #8d0205;
  background: #8d0205;
  border: 0.01em solid #8d0205;
}

@media (max-width: 560px) {
  .projects-section .project-items .item .item-header hr {
    margin: 1em 1em;
  }
}

.projects-section .project-items .item .item-header h3 {
  padding: 0 4em;
  line-height: 32px;
}

@media (max-width: 560px) {
  .projects-section .project-items .item .item-header h3 {
    padding: 1em 1em;
  }
}

.projects-section .project-items .item .item-desc {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-family: "IBM Plex Sans";
  font-size: 1.15em;
}

.partners-section .partners-carousel {
  height: 100vh;
  position: relative;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .partners-section .partners-carousel {
    display: none;
  }
}

.partners-section .partners-carousel .partners-track-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.partners-section .partners-carousel .partners-track-container .partner-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.partners-section .partners-carousel .partners-track-container .partner-track .partner-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.partners-section .partners-carousel .partners-track-container .partner-track .partner-slide .slide-text {
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  color: #fff;
  padding: 0 5vw;
}

.partners-section .partners-carousel .partners-track-container .partner-track .partner-slide .slide-text h3 {
  font-family: "IBM Plex Sans";
  letter-spacing: 0.3em;
  font-size: 1.5em;
  font-weight: 600;
}

.partners-section .partners-carousel .partners-track-container .partner-track .partner-slide .slide-text h1 {
  font-family: "Playfair Display";
  font-size: 3em;
  max-width: 10em;
  margin-top: 0.6em;
  font-weight: lighter;
  line-height: 64px;
}

.partners-section .partners-carousel .partners-track-container .partner-track .partner-slide .slide-text p {
  margin-top: 1.5em;
  max-width: 28em;
  font-family: "IBM Plex Sans";
  font-size: 1em;
}

.partners-section .partners-carousel .partners-track-container .partner-track .partner-slide .slide-text.tula {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.partners-section .partners-carousel .partners-track-container .partner-track .partner-slide .slide-text.kamay {
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}

.partners-section .partners-carousel .partners-track-container .partner-track .partner-slide .slide-text.kala {
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
}

.partners-section .partners-carousel .partners-track-container .partner-track .partner-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.partners-section .partners-carousel .partner-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  background: transparent;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.partners-section .partners-carousel .partner-nav .partner-indicator {
  border: none;
  outline: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(220, 220, 220, 0.3);
  margin: 0 5px;
  cursor: pointer;
}

.partners-section .partners-carousel .partner-nav .partner-indicator.current-partner {
  background: rgba(220, 220, 220, 0.75);
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 4em 5vw 1em 5vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 25vh;
  background-color: #8d0205;
  color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "IBM Plex Sans";
}

@media (max-width: 600px) {
  .footer-section div {
    min-width: 90%;
    padding: 5vh 0;
  }
}

.footer-section div h1 {
  font-size: 1.5em;
  font-weight: lighter;
  padding-bottom: 1em;
  height: 1.3em;
}

.footer-section .footer-header h1 {
  font-family: "Playfair Display";
  letter-spacing: 0.02em;
}

.footer-section .social-media .social-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-section .social-media .social-icons svg {
  margin-right: 20px;
}

.footer-section .creds {
  text-align: center;
  min-width: 90%;
  margin-top: 5em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 50px;
}

.mural-header {
  background-image: url("./../assets/images/muralGallery.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.mural-header h1 {
  font-size: 7em;
  font-weight: lighter;
}

@media (max-width: 568px) {
  .mural-header h1 {
    font-size: 3em;
  }
}

.mural-header p {
  margin-top: 2em;
  max-width: 38em;
  text-align: center;
  font-size: 1.3em;
  font-family: "IBM Plex Sans";
  letter-spacing: 0.1em;
  font-weight: lighter;
}

@media (max-width: 568px) {
  .mural-header p {
    font-size: 1em;
    padding: 0 1em;
  }
}

.events-section {
  padding: 8em 5vw;
}

.events-section .header-text-events {
  font-family: "IBM Plex Sans";
  letter-spacing: 0.3em;
  font-size: 1.25em;
  color: #8d0205;
}

.events-section .events-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

@media (max-width: 568px) {
  .events-section .events-content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.events-section .events-content-container .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
}

@media (max-width: 568px) {
  .events-section .events-content-container .image-container {
    width: 90%;
    margin-bottom: 2em;
  }
}

.events-section .events-content-container .image-container img {
  max-height: 500px;
}

@media (max-width: 568px) {
  .events-section .events-content-container .image-container img {
    max-height: 300px;
  }
}

.events-section .events-content-container .events-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5em;
}

@media (max-width: 568px) {
  .events-section .events-content-container .events-text {
    max-width: 90%;
    padding: 0 1em;
  }
}

.events-section .events-content-container .events-text h1 {
  font-size: 4em;
  font-weight: lighter;
  color: #8d0205;
}

@media (max-width: 568px) {
  .events-section .events-content-container .events-text h1 {
    font-size: 1.8em;
  }
}

.events-section .events-content-container .events-text .date {
  font-weight: lighter;
  color: #8d0205;
  font-family: "IBM Plex Sans";
  letter-spacing: 0.005em;
  padding: 2em 0;
}

.events-section .events-content-container .events-text .events-desc {
  max-width: 80%;
  letter-spacing: 0.09em;
  font-family: "IBM Plex Sans";
  line-height: 35px;
}

@media (max-width: 568px) {
  .events-section .events-content-container .events-text .events-desc {
    max-width: 90%;
  }
}

.archives-section .archive-items .archive-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #8d0205;
}

@media (max-width: 568px) {
  .archives-section .archive-items .archive-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: none;
    padding: 0 1em;
    text-align: center;
  }
}

.archives-section .archive-items .archive-item .archive-item-text-container {
  padding-left: 10em;
  width: 100%;
}

@media (max-width: 568px) {
  .archives-section .archive-items .archive-item .archive-item-text-container {
    margin: 1em 0;
    padding-left: 0;
  }
}

.archives-section .archive-items .archive-item .archive-item-text-container .text-holder h1 {
  color: #8d0205;
  font-weight: lighter;
  margin-bottom: 0.3em;
}

.archives-section .archive-items .archive-item .archive-item-text-container .text-holder p {
  font-family: "IBM Plex Sans";
  letter-spacing: 0.005em;
}

.archives-section .archive-items .archive-item .archive-item-image img {
  max-height: 262px;
  width: 556px;
}

@media (max-width: 568px) {
  .archives-section .archive-items .archive-item .archive-item-image img {
    max-width: 273px;
  }
}

.store-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
  max-width: 100vw;
  overflow: hidden;
  margin-top: 10vh;
}

@media (max-width: 569px) {
  .store-header {
    min-height: 40vh;
  }
}

.store-header .text-header {
  margin-top: 2em;
}

.store-header .text-header h1 {
  color: #8d0205;
  font-size: 3em;
  margin-bottom: 1em;
}

.store-header .image-holder img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.store-header .image-description {
  text-align: center;
  max-width: 30vw;
  margin-top: 1em;
}

@media (max-width: 569px) {
  .store-header .image-description {
    max-width: none;
  }
}

.store-header .image-description h3 {
  font-size: 1.5em;
  color: #8d0205;
  margin-bottom: 0.5em;
}

.store-header .image-description p {
  font-family: "IBM Plex Sans";
}

.store-header .image-description button {
  margin-top: 1em;
  padding: 0.8em 1.2em;
  font-size: 1em;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 0.15em;
  color: #8d0205;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #8d0205), color-stop(50%, white));
  background: linear-gradient(to right, #8d0205 50%, white 50%);
  background-size: 200% 105%;
  background-position: right bottom;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.store-header .image-description button:hover {
  background-position: left bottom;
  color: #fff;
}

.departments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10em;
  padding: 0 5vw;
  min-height: 100vh;
}

.departments div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

@media (max-width: 569px) {
  .departments div {
    width: 100%;
    min-width: 90vw;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.departments .department-title h1 {
  color: #8d0205;
  font-size: 2.5em;
  font-weight: bold;
}

.departments .department-title p {
  margin-top: 1em;
  font-family: "IBM Plex Sans";
  max-width: 30em;
}

.departments .image-container img {
  padding: 20px;
  margin: 0 auto;
  border: 50px;
  max-height: 403px;
  max-width: 403px;
}

@media (max-width: 569px) {
  .departments .image-container img {
    max-height: 303px;
    max-width: 303px;
  }
}

.collections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #8d0205;
  color: #fff;
  min-height: 20vh;
  margin-top: 15vh;
}

.collections h1 {
  margin-top: 10vh;
  font-size: 3.5em;
  letter-spacing: 0.1em;
  font-weight: lighter;
}

.collections p {
  margin-top: 1em;
  max-width: 25em;
  margin-bottom: 10vh;
  font-family: "IBM Plex Sans";
  letter-spacing: 0.1em;
  font-weight: lighter;
}

.featured-collections {
  margin-top: 15vh;
  padding: 0 5vw;
  min-height: 100vh;
}

.featured-collections .featured-header {
  color: #8d0205;
}

.featured-collections .featured-header h3 {
  font-weight: lighter;
  font-size: 1.5em;
}

.featured-collections .featured-header h1 {
  font-size: 2.5em;
}

.featured-collections .product-sample {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5em;
}

.featured-collections .product-sample div {
  width: 50%;
}

@media (max-width: 569px) {
  .featured-collections .product-sample div {
    min-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.featured-collections .product-sample .prod-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured-collections .product-sample .prod-img-container img {
  max-height: 403px;
  max-width: 403px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 569px) {
  .featured-collections .product-sample .prod-img-container img {
    max-height: 303px;
    max-width: 303px;
    margin-bottom: 1em;
  }
}

.featured-collections .product-sample .prod-description {
  font-family: "IBM Plex Sans";
}

.featured-collections .product-sample .prod-description h1 {
  color: #8d0205;
}

.featured-collections .product-sample .prod-description label {
  color: #5f5f5f;
}

.featured-collections .product-sample .prod-description h4 {
  margin-top: 2em;
  margin-bottom: 1em;
}

.featured-collections .product-sample .prod-description p {
  font-size: 0.9em;
}

.featured-collections .product-sample .prod-description h2 {
  color: #535353;
  padding: 0.5em 0;
}

.featured-collections .product-sample .prod-description button {
  display: block;
  width: 100%;
  margin: 0.5em 0;
  padding: 1em 1.5em;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-right: 2em;
  cursor: pointer;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: #fff;
  background: #8d0205;
}

.featured-collections .product-sample .prod-description button.wish {
  background: #a66249;
}

.samples {
  padding: 0 5vw;
  min-height: 100vh;
}

.samples .row-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.samples .row-one .text {
  max-width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "IBM Plex Sans";
  color: #8d0205;
}

@media (max-width: 569px) {
  .samples .row-one .text {
    min-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 3em 0;
  }
}

.samples .row-one .text h1 {
  font-size: 1.5em;
}

.samples .row-one .text .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em;
}

.samples .row-one .text .item h3 {
  width: 10em;
  font-weight: bold;
}

.samples .row-one .img-cont {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 569px) {
  .samples .row-one .img-cont {
    width: 100%;
  }
}

.samples .row-one .img-cont img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 244px;
  max-height: 245px;
}

@media (min-width: 569px) {
  .samples .row-one .img-cont img {
    margin-left: 7.4%;
  }
}

@media (max-width: 569px) {
  .samples .row-one .img-cont img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 3em auto;
  }
}

.samples .other-rows {
  margin: 2em 0;
  margin-bottom: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.samples .other-rows img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 244px;
  max-height: 245px;
}

@media (max-width: 569px) {
  .samples .other-rows img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 3em auto;
  }
}

.gilders-sect {
  border-top: 2px solid #8d0205;
  padding: 0 5vw;
  padding-top: 8em;
  min-height: 100vh;
  padding-bottom: 5em;
}

.gilders-sect .collections-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3em 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 90vw;
}

.gilders-sect .collections-row .row-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gilders-sect .collections-row .row-header h1 {
  color: #8d0205;
  text-align: center;
  max-width: 5em;
}

.gilders-sect .collections-row .row-header p {
  margin-top: 1em;
  text-align: center;
  max-width: 10em;
}

.gilders-sect .collections-row .glider-container-dev {
  max-width: 70vw;
}

.gilders-sect .collections-row .glider-container-dev .glider .glider-track {
  width: 100%;
}

.gilders-sect .collections-row .glider-container-dev .glider .glider-track .glider-slide {
  min-height: 10vh;
}

.gilders-sect .divider-sect {
  margin: 100px auto;
  max-width: 80%;
  border-bottom: 3px solid #8d0205;
}

.contact-container {
  margin-top: 20vh;
  padding: 0 5vw;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-container div {
  width: 50%;
}

.contact-container .form-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-container .form-header button {
  font-family: "IBM Plex Sans";
  font-size: 0.8em;
  outline: none;
  border: none;
  background: transparent;
  margin: 0;
  font-weight: bold;
  padding: 1em 1.5em;
  cursor: pointer;
}

.contact-container .form-header .gen-inq {
  background: #8d0205;
  color: #fff;
}

.contact-container .form-header .sched-vist {
  background: rgba(141, 2, 5, 0.26);
  color: #8d0205;
}

.contact-container .form-header .donate {
  background: #fbe4e4;
  color: #8d0205;
}

.contact-container .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #8d0205;
  width: 100%;
  height: 70vh;
}

.contact-container .form-group input {
  border: none;
  width: 80%;
  height: 3em;
  margin-bottom: 2em;
  border-radius: 5px;
  text-indent: 10px;
  color: #8d0205;
}

.contact-container .form-group input:focus {
  outline: none;
}

.contact-container .form-group input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8d0205;
}

.contact-container .form-group input::-moz-placeholder {
  /* Firefox 19+ */
  color: #8d0205;
}

.contact-container .form-group input:-ms-input-placeholder {
  /* IE 10+ */
  color: #8d0205;
}

.contact-container .form-group input:-moz-placeholder {
  /* Firefox 18- */
  color: #8d0205;
}

.contact-container .form-group select {
  border: none;
  width: 80%;
  height: 3em;
  margin-bottom: 2em;
  border-radius: 5px;
  text-indent: 10px;
  background-color: #fff;
  color: #8d0205;
}

.contact-container .form-group select:focus {
  outline: none;
}

.contact-container .form-group select option {
  background-color: #fff;
  border: none;
  width: 80px;
  height: 3em;
  margin-bottom: 2em;
  border-radius: 5px;
  text-indent: 10px;
}

.contact-container .form-group textarea {
  width: 80%;
  border-radius: 5px;
  resize: none;
  text-indent: 10px;
  padding-top: 10px;
}

.contact-container .form-group textarea:focus {
  outline: none;
}

.contact-container .form-group textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8d0205;
}

.contact-container .form-group textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #8d0205;
}

.contact-container .form-group textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #8d0205;
}

.contact-container .form-group textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #8d0205;
}

.contact-container .form-group .btn-wrapper {
  width: 80%;
}

.contact-container .form-group .btn-wrapper button {
  margin-top: 2em;
  background: transparent;
  border: 2px solid white;
  padding: 1em 2.5em;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, #8d0205));
  background: linear-gradient(to right, #fff 50%, #8d0205 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.contact-container .form-group .btn-wrapper button:hover {
  background-position: left bottom;
  color: #8d0205;
}

.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact-details h1 {
  text-align: right;
}

.contact-details p {
  margin-top: 2em;
  font-family: "IBM Plex Sans";
  text-align: right;
  font-size: 0.8em;
}

.contact-details .fram-map {
  margin-top: 1em;
}

.contact-details .soc-icons {
  margin: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-details .soc-icons svg {
  margin-left: 1em;
}
/*# sourceMappingURL=base.css.map */